<h2>Mean, median, mode!</h2>

<form action="submit">
    Enter a whitespace-separated data set:
    <input id="data-set" type="text" name="data-set">
    <input type="submit" value="submit">
</form>

<p>Mean: {{mean}} </p>
<p>Median: {{median}} </p>
<p>Mode: {{mode}} </p>
